{% extends 'guests/email_templates/email_base.html' %}
{% load static %}
{% block main_image %}
<center style="font-size:36px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};">Save the Date</center>
  <br>
 <center style="font-size:32px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};">{{ date }}</center>                 

<br><br>
    <a href="{{ site_url }}"
       {% if email_mode %}target="_blank"{% endif %}>
    {% with "save-the-date/images/"|add:main_image as main_static_url %}
        <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
             alt="{{ couple }}"
             style="display: block; padding: 0; color: #666666; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;"
             class="img-max" border="0"
             height="400" width="500">
    {% endwith %}
    </a>
{% endblock %}
    {% block main_copy %}
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="font-size: 35px; font-family: Palatino, serif; color: {{ font_color }}; padding-top: 30px; font-weight:bolder;"
                class="padding-copy"
                align="center">
We are getting married!
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0 0 0; font-size: 22px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
                class="padding-copy"
                align="center">
              {{ couple }}<br><br>
	      Saratoga Springs <br>
              {{ location }}<br><br>
	          		Invitation to follow
		<br>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
    {% block footer_content %}
{% endblock %}
